<form action="/add" method="POST">
    <h2>Add user page</h2>

    <div class="input-field">
        <label for="first_name">First name</label>
        <input type="text" name="first_name">
    </div>

    <div class="input-field">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name">
    </div>

    <div class="input-field">
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>

    <div class="input-field">
        <label for="age">Age</label>
        <input type="text" name="age">
    </div>

    <button type="submit" class="btn">Add</button>
</form>